/* Grid setup */
.page-grid {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 180px 50px auto auto auto auto 50px;
	grid-template-rows: 160px 280px auto;
	background-color: #F6F6F4;
}

/* General */

body {
	background-color: #F6F6F4;
}

h1 {
	margin: 0;
}

h2 {
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;

	color: #000000;
}

h3 {
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 0px;

	color: #8CACD3;
}

h4 {
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	color: #9CB29E;
}

h5 {
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;

	color: #9CB29E;
}

h6 {
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 35px;

	color: #8CACD3;
}

p {
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;

	color: #000000;
}

/* side navigation */
.nav-title {
	grid-area: 1/1/2/2;
	padding: 20px;
	position: fixed;

	width: 150px;
	height: 200px;
	left: 0px;
	top: 0px;
	background-color: #FFF59E;
}

.nav-title a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 36px;

	color: #8CACD3;
}

.side-nav-main {
	grid-area: 2/1/3/2;
	padding: 20px;
	position: fixed;
	width: 150px;
	height: 400px;
	left: 0px;
	top: 160px;
	background-color: #FFF59E;
}

.side-nav-main a{
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	color: #9CB29E;
}

.side-nav-use {
	grid-area: 2/1/3/2;
	padding: 20px;
	position: fixed;
	width: 150px;
	height: 120px;
	bottom: 0px;
	left: 0px;
	background-color: #FFF59E;
}

.side-nav-use a{
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	color: #9CB29E;
}

/* top navigation */
.topnav-couch {
	grid-area: 1/3/2/4;
	padding: 20px;
	text-align: center;
}

.topnav-couch img {
	position: relative;
	width: 72px;
	height: 72px;
}

.topnav-couch a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #9CB29E;
}

.topnav-bed {
	grid-area: 1/4/2/5;
	padding: 20px;
	text-align: center;
}

.topnav-bed img {
	position: relative;
	width: 72px;
	height: 72px;
}

.topnav-bed a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #9CB29E;
}

.topnav-round {
	grid-area: 1/5/2/6;
	padding: 20px;
	text-align: center;
}

.topnav-round img {
	position: relative;
	width: 72px;
	height: 72px;
}

.topnav-round a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #9CB29E;
}

.topnav-floor {
	grid-area: 1/6/2/7;
	padding: 20px;
	text-align: center;
}

.topnav-floor img {
	position: relative;
	width: 72px;
	height: 72px;
}

.topnav-floor a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #9CB29E;
}

#nav-emphasis img {
	width: 81px;
	height: 81px;
}

#nav-emphasis a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 26px;
	color: #9CB29E;
}

/* home page content */
.home-main {
	grid-area: 1/2/4/8;
	position: relative;
	margin-left: -50px;
	padding: 0px;
	top: 0px;
	background-color: #FFF59E;
}

.hometext {
	position: absolute;
	width: 863px;
	height: 240px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 120px;

	color: #939597;
}

.intro {
	grid-area: 1/2/4/8;
	position: relative;
	top: 100%;
	padding: 50px;
	background-color: #F6F6F4;
}

.intro-left {
	grid-column: 4 / span 4;
	overflow: auto;
	text-align: right;
}

.intro-left img{
	border-radius: 25px;
	float: right;
	margin-left: 50px;
}

.intro-right {
	grid-area: 1/2/4/6;
	overflow: auto;
	text-align: left;
}

.intro-right img {
	border-radius: 25px;
	float: left;
	margin-right: 50px;
}

/* product collection */
.collection-head {
	grid-area: 1/3/2/8;
	line-height: 0px;
}

.product-couch {
	grid-column: 3 / span 2;
	position: relative;
	text-align: center;
	right: 50px;
}

.product-couch img {
	position: relative;
	width: 404px;
	height: 269px;
	border-radius: 25px;
}

.product-couch a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 35px;

	color: #8CACD3;
}

.product-bed {
	grid-area: 2/5/3/7;
	position: relative;
	text-align: center;
	right: 50px;
}

.product-bed img {
	position: relative;
	width: 404px;
	height: 269px;
	border-radius: 25px;
}

.product-bed a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 35px;

	color: #8CACD3;
}

.product-round {
	grid-column: 3 / span 2;
	position: relative;
	text-align: center;
	right: 50px;
	top: 50px;
}

.product-round img {
	position: relative;
	width: 404px;
	height: 269px;
	border-radius: 25px;
}

.product-round a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 35px;

	color: #8CACD3;
}

.product-floor {
	grid-area: 3/5/4/7;
	position: relative;
	text-align: center;
	right: 50px;
	top: 50px;
}

.product-floor img {
	position: relative;
	width: 404px;
	height: 269px;
	border-radius: 25px;
}

.product-floor a {
	text-decoration: none;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 35px;

	color: #8CACD3;
}

/* product detail page */
.product-gallery {
	grid-area: 2/3/3/5;
}

.product-gallery img {
	width: 404px;
	height: 269px;
	border-radius: 25px;
}

.product-intro {
	grid-area: 2/5/3/7;
	position: relative;
	padding: 20px;
	top: -40px;
}

.product-intro button {
	background-color: #8CACD3;
	color: #F6F6F4;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 15px;
	padding: 20px 40px;

	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
}

.explore-color {
	grid-area: 3/3/4/7;
	position: relative;
	overflow: auto;
	text-align: right;
	line-height: 20px;
}

.explore-color img {
	border-radius: 25px;
	float: right;
	margin-left: 50px;
	width: 404px;
	height: 269px;
}

.explore-color button {
	border-radius: 50%;
	margin-left: 40px;
	margin-right: 40px;
	border:  0px;
	width: 30px;
	height: 30px;
}

.explore-fill {
	grid-area: 4/3/5/7;
	position: relative;
	overflow: auto;
	text-align: right;
}

.explore-fill img {
	border-radius: 25px;
	float: right;
	margin-left: 50px;
	width: 404px;
	height: 200px;
}

.explore-fill button {
	height: 25px;
	margin: 10px;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #657890;
	background-color: #F6F6F4;
	border: 2px solid #8CACD3;
}

.choose {
	grid-area: 5/2/6/6;
	margin-left: -50px;
	text-indent: 100px;
	min-height: 300px;
	position: relative;
	background-color: #EDEDEB;
	line-height: 30px;
}

#choose-color a {
	border-radius: 50%;
	padding: 0px 5px;
	margin: 50px;
	width: 10px;
	height: 10px;
}

#choose-fill a{
	padding: 5px 10px;
	margin: 10px;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #657890;
	border: 2px solid #8CACD3;
	text-decoration: none;
}

.add-cart {
	grid-area: 5/6/6/8;
	margin-left: -50px;
	min-height: 300px;
	padding-top: 75px;
	position: relative;
	background-color: #EDEDEB;
	line-height: 30px;
}

.add-cart button {
	background-color: #8CACD3;
	color: #F6F6F4;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 15px;
	border: none;

	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

.set-color button {
	border-radius: 50%;
	margin-left: 40px;
	margin-right: 40px;
	border:  0px;
	width: 30px;
	height: 30px;
}

.set-fill button {
	height: 25px;
	margin: 10px;
	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #657890;
	background-color: #F6F6F4;
	border: 2px solid #8CACD3;
}

/* Checkout Page */
.cart-head {
	grid-area: 1/3/2/8;
}

.cart-item {
	grid-area: 2/3/3/7;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 50px 200px auto 50px;
	grid-template-rows: auto;
}

.cart-item-count {
	grid-area: 1/1/2/2;
}

.cart-item-pic {
	grid-area: 1/2/2/3;
}

.cart-item-info {
	grid-area: 1/3/2/4;
}

.cart-item-price {
	grid-area: 1/4/2/5;
	margin-left: -75px;
}

.cart-item img {
	border-radius: 25px;
	width: 196px;
	height: 130px;
}

.checkout {
	grid-area: 3/6/4/7;
	line-height: 40px;
}

.checkout a{
	background-color: #8CACD3;
	color: #F6F6F4;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 15px;
	width: 200px;
	height: 40px;

	font-family: 'Aktiv Grotesk', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}


